@mixin tablet-up {
  @media (min-width: 600px) {
    @content;
  }
}

@mixin phone {
  @media (max-width: 650px) {
    @content;
  }
}

@mixin breakpoint($num) {
  @media (min-width: $num) {
    @content;
  }
}

* {
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
  color: white;
  width:108vw;
  background-color: #262626;
}
html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}
main {
  margin-top: -2rem;
}

/* NAVBAR */
nav{
}
.nav-item {
  font-size: 2rem;
  padding: 0 24px;
  white-space: nowrap;
  
}

.top-container{
    padding-top: 15vh!important;
    
  }
  

.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item:hover .nav-link {
  color: #fff;
}
.navbar-toggler {
  padding: 8px 16px;
  margin: 0.5rem;
}

.navbar-brand {
  padding-left: 24px;
  height: 65px;
}

.busbackground-image {
  background-color: #cccccc;
  height: clamp(75vh, 95vh, 100vh);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  @include phone {
    height: 75vh;
  }
}

.main-text {
  padding-top: 35%;
  text-align: center;
  color: white;
  font-weight: bold;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  @include breakpoint(800px){
    padding-top: 20%;;
  }
 
  }

  .company-title {
    font-size: 4rem;
    margin-bottom: 2rem;
    @include breakpoint(800px){
      font-size: 6rem;
    }
    @include breakpoint((1440px)){
      font-size: 7rem;
    }
  }

  .company-slogan {
    font-size: 3rem;
    margin: 2rem 3%;
    @include breakpoint(800px){
      font-size: 4rem;
    }
    @include breakpoint((1440px)){
      font-size: 5rem;
    }
  }

  .btn-outline-light {
    border: solid 7px white;
    border-radius: 25px;
  }




.main-container {
  background-repeat: round;
  background-color: #262626;
  box-sizing: border-box;
  height: 100%;
  padding: 3%;
  padding-bottom: 15%;
}




.photo {
  border: 3px solid #ddd;
  border-radius: 4px;
  padding: 8px;
  max-width: 90%;
  margin-left: 1rem;
}


.left-side {
  margin: 4rem 0.5rem 2rem;
  @include breakpoint(48rem) {
    width: 50%;
    float: left;
    margin-bottom: 1rem;
  }
}

.right-side {
  padding: 2rem;
  line-height: 2;
  letter-spacing: 0.3;
  @include breakpoint(48rem) {
    float: none;
    padding-top:3.5rem ;
    padding-left: 0.5rem;
    font-size: 1.5rem;
  }
  @include breakpoint(2000px) {
    font-size: 2rem;
  }
}

.right-side-calc {
  padding: 2rem;
  line-height: 2;
  font-size: 1.3rem;
  letter-spacing: 0.3;
  @include breakpoint(1200px) {
    padding-top: 0;
  }
}

.header {
  margin: 4rem auto;
  border-top: solid 3px;
  border-bottom: solid 3px;
  padding: 16px;
  font-size: 1.5rem;
  text-align: center;
  @include breakpoint(48rem){
    font-size: 2.5rem;
  }
}

.carousel-col {
  max-width: 95%;
  margin: 4rem 1rem 2rem;
  @include breakpoint(1300px) {
    margin-bottom: 1rem;
  }

  .carousel-caption h1{
    @include breakpoint(48rem) {
      font-size:1.5rem;
      padding-top: 2rem;
    }
  }
}



.carousel-control-next,
.carousel-control-prev {
  opacity: 1;
}
.carousel-control-next-icon,
.carousel-control-prev-icon {
  width: 7vw;
  height: 7vw;
}

.carousel-inner {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

#totalPrice {
  color: #6b9ef5;
  white-space: nowrap;
}

input[type="number"],
select {
  border-radius: 25px;
  padding: 5px;
  height: 35px;
}
input[type="number"],
select {
  width: 204px;
}

form div{
  margin-bottom: 0.5rem;
}

label {
  margin-right: 1.5rem;
  margin-bottom: 0.75rem;
  //margin-bottom: 2.5rem;
  &.cartype-label {
    margin-right: 0.8rem;
  }
  &.fee-label {
    margin-right: 1.7rem;
  }
}

.form-check-label {
  margin-right: 24px;
}
input::placeholder,
select::placeholder {
  padding-left: 0.2rem;
  font-size: 1rem;
}

input[type="checkbox"] {
  vertical-align: middle;
  margin-bottom: 0.6rem;
}
option {
  font-size: 2rem;
}

.contact-form-text {
  font-size: 2.5rem;
}

.map-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.map-responsive iframe {
  left: 0;
  top: 0;
  height: 90%;
  width: 100%;
  position: absolute;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: #a9a9a9;
}

.button-form {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: solid white 2px;
  font-size: 1.5rem;
}

.contact-info{
  padding-left: 1.5rem;
}
.contact-info p {
  font-size: 1.3rem;
  @include breakpoint(1000px){
    font-size: 1.8rem;
  }
}

.contact-info-header {
  font-size: 1.8rem;
  line-height: 1.8;
  @include breakpoint(1000px){
    font-size: 2.3rem;
  }
}

.contact-info-header-span {
  border-bottom: solid 3px;
  padding: 4px;
}

footer {
  min-height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #262626;
  color: gray;
  font-size: 1rem;
  padding: 1rem 2rem;
  text-align: center;
  line-height: 2.3;
  @include breakpoint(768px) {
    
    padding: 0.5rem 1rem;
  }
  @include breakpoint(1000px) {
    flex-direction: row;
  }
  div {
    margin-bottom: 1rem;
    @include breakpoint(768px) {
      margin-bottom: 0.5rem;
    }
  }
  a {
    color: white;
    margin-right: 2.5rem;
    display: inline-block;
    &#logoLink {
      display: inline; //to prevent hover  transform effect
    }
    &#mail {
      margin-right: 0;
    }
    &:hover {
      transform: scale(1.3);
      color: white !important;
    }
  }
}