
body{
  font-family: 'Noto Serif', serif;
}
.busbackground-image {
  background-color: #cccccc;
  height: 1500px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.background-text {
  text-align: center;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: 'Noto Serif', serif;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
.company-title{
  font-size:110px;
}
.nav-item{
  font-size: 1.8em;
}
.navbar-brand{
  font-size: 1.5em;
  padding-left: 20px;
}

footer {
    height: 50px;
    display: flex;
    justify-content: center;
    padding: 5px;
    background-color:#262626;
    color: gray;
  }
  input[type=text], input[type=email], textarea {
   width: 100%;
   padding: 12px 20px;
   margin: 8px 0;
   display: inline-block;

  }
