* {
  box-sizing: border-box;
}
body{
  font-family: 'Open Sans', sans-serif;
}

/* NAVBAR */

.nav-item{
   font-size: 2rem;
   padding-right: 24px;
}

.navbar-nav .nav-item.active .nav-link,
  .navbar-nav .nav-item:hover .nav-link {
      color: #fff;
  }

.navbar-brand{
  padding-left: 24px;
}



/*MAIN PAGE*/

.busbackground-image {
  background-color: #cccccc;
  height: 93vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.background-text {
  text-align: center;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: bold;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}


.company-title{
  font-size:6rem;
  font-weight: bold;
  padding-top: 15%;
}

.company-title-small{
  font-size:4rem;
  font-weight: bold;
}

.company-slogan{
    margin-top: 3%;
    font-size:3rem;
}

/* this one is for button on main page and contact */
.btn-outline-light{
   border: solid 5px white;
   border-radius: 25px;
}


.btn-index{
    font-size:2rem;
    padding:10px;
}


/* SHARED CLASS FOR ABOUT, CAR FLEET, CALCULATOR, CONTACT*/

.main-container{
    background-repeat:round;
    background-color:#262626;
    box-sizing: border-box;
    height: 100%;
    padding:3%;
    padding-bottom:15%;
}


/*styling for photos*/
.about-photo, .contact-photo, .calc-photo{
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  max-width: 100%;
}


/* ABOUT PAGE*/
.about-side-bar{
  padding-right: 30px;
}

.about-right-side{
  padding: 40px;
  padding-left: 50px;
  padding-right: 50px;
  line-height: 1.7;
  font-size:1.1rem;
}


/* CONTACT PAGE */


.thankyou{
    margin-left:40px;
}

.contact-form-text{
    text-align:center;
    margin-bottom:3%;
}

label{
   font-size:1.5rem;
}

.label-forms label{
    font-size:1rem;
}
.fee-label{
    margin-right:12px;
}
.kms-label{
    margin-right:12px;
}

.label-forms{
  color:white;
  padding-left: 0;
}

.button-form{
  margin-left: 10%;
  font-size: 1.5rem;
}

.contact-info {
  font-size: 1.7rem;
  font-weight: bold;
  line-height: 1.7;
}

.contact-info-header{
    font-size:3rem;
}

.contact-info-header-span{
    border-bottom: solid 5px;
    padding:4px;
}

.map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}

.map-responsive iframe{
    left:0;
    top:0;
    height:60%;
    width:100%;
    position:absolute;
}

a{
  text-decoration: none;
  color: white;
}

a:hover{
  color:#A9A9A9;
}

.contact-second-row{
    margin-top:8%;
}

.form-container{
  padding-top: 16px;
  padding-bottom: 40px;
  font-size:2rem;
}


/* CAR FLEET */

.fleet-header{
   border-top: solid 5px;
   border-bottom: solid 5px;
   padding:16px;
}

.fleet-right-side{
  line-height: 1.7;
  font-size: 1.1rem;
  padding: 0px 60px 24px 60px;

}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  width: 3vw;
  height: 3vw;
}

.carousel-inner{
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}



/* CALCULATOR*/

.calc-right-side{
  padding: 0px 72px 40px 72px;
}

.calc-info{
  font-size: 1.5rem;
}

#totalPrice{
 color:#025A1E;
 text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

#cartype, #kms, #basic-addon2, #selectedfee{

  border-radius: 25px;
  padding: 5px;
}

.form-check-label{
    margin-right:24px;
}

select{
    font-size:1rem;
    width: 180px;
}

/*FOOTER AND INPUTS */

footer {
    height: 50px;
    display: flex;
    justify-content: center;
    padding: 5px;
    background-color:#262626;
    color: gray;
}

input[type=text], input[type=email], textarea {
width:100%;
   padding: 8px 16px;
   margin: 8px 0;
   border-radius:25px;
  }

textarea{
    height:185px;
  }

input[type='number']{
    width: 180px;
    font-size:1rem;
}

option{
    width: 430px;
}





/* FOR SMALLER SCREENS*/

 @media all and (max-width:700px){
    .company-title{
        font-size:5rem;
    }
    .company-slogan{
        font-size:2.5rem;
    }

    .nav-item{
        font-size: 1.4rem;
    }

    .about-right-side, .contact-info, .calc-info, .fleet-right-side, label, select{
        font-size:1.5rem;
    }

    select{
        width:260px;
    }

    .fleet-right-side{
        padding:0px 5px 5px 5px;
    }

    .thankyou{
        margin-left:20px;
    }


    input[type='number']{
        width:260px;
        font-size:1.5rem;
    }

    .calc-right-side{
        padding: 0px 20px 30px 20px;
    }

    footer{
        text-align:center;
    }

  }


/* FOR BIGGER SCREENS*/
@media all and (min-width:2000px){
    .company-title{
      font-size:14rem;
    }

    .company-slogan{
        font-size:5rem;
    }

    .btn-index{
        font-size:4rem;
        padding:15px;
    }

    .about-right-side{
        font-size:1.85rem;
    }

    .fleet-right-side{
        font-size: 1.8rem;

    }

    .contact-form-text{
        font-size: 1.7rem;
    }

    .label-forms label{
        font-size: 1.5rem;
    }

    .button-form{
        font-size: 2rem;
    }

    .contact-form-container{
        margin-left:3%;
        margin-right:3%;
    }

    .calc-right-side label, .calc-right-side p{
        padding:0px 40px 32px 40px;
        font-size:2.5rem;
    }
    #total, .calc-info-header{
        padding-left:40px;
    }

    select{
        width: 300px;
        font-size:1.7rem;
    }

    .fee-label{
        margin-right:20px;
    }

    input[type=checkbox] {
        transform: scale(1.4);
    }
    input[type='number']{
        width: 300px;
        font-size:1.7rem;
}

    input[type=text], input[type=email], textarea {
      font-size:1.7rem;
    }

    textarea{
        height:350px;
    }

    #cartype, #kms, #basic-addon2, #selectedfee{
        border-radius: 25px;
        padding: 10px;

    }

    .form-check-reverse{
        align-items: baseline;
    }

    .contact-info {
      font-size: 3rem;
    }
    .contact-info-header{
        font-size:4rem;
}
