<!DOCTYPE html>
{% extends "base_app/base.html" %}
{% load static %}
{% block body_block %}

<title>About</title>

<body>
    <style >
      .main-container{
        background-image: url({%static 'images/back2.jpg'%});
      }
    </style>

<section class="main-container text-white">

    <div class="row ">
      <div class=" about-side-bar col-xl m-3 mt-5">
        <img class  = 'about-photo img-fluid' src="{% static 'images/about-photo.jpg' %}" alt="Man driving a bus">
      </div>
      <div class=" about-right-side col-lg">
        <h2 class=' display-5 mb-3'>WHO ARE WE?</h2>
        <p>This is not a real company, but a fake name created for portolio reasons. Althought if it was, the story about how it came to be could be something like that:</p>
        <p>It all began in 1980 with one old bus and a dream. The owner, Anton S., built it all from the scratch, working tirereslly and saving for a next vehicle.</p>
        <p>The company grew, Anton hired more drivers, bought more buses and moved the center of their operations to Wonderville. </p>
        <p>Nowadays Anton Transpo is well known locally as their buses takes children to schools, workers to workplaces and travelers of all kinds to their chosen destinations.</p>
        <p>Anton Transpo organizes travels also to other UE countries, mostly to vacation or summer work destinations.</p>
      </div>
    </div>


</section>

</body>


{% endblock %}
