<!DOCTYPE html>
{% extends "base_app/base.html" %}
{% load static %}
{% block body_block %}

<title>CALCULATOR</title>

    <style >
      .main-container{
        background-image: url({%static 'images/back2.jpg'%});
      }
    </style>



<body>
    <section class="main-container">

        <div class="row">

            <div class="col-lg order-2 order-lg-1 calc-left-side">
                <img class= "img-fluid calc-photo" src="{% static 'images/calc.jpg' %}" alt="">
            </div>

            <div class="col-lg order-1 order-lg-2 calc-right-side ">
              <div class="text-white">
                <h2 class= " calc-info-header  display-5 d-none d-lg-block"> RIDE COST CALCULATOR</h2>
                <h2 class= " calc-info-header  display-5 d-block d-lg-none"> RIDE COST CALCULATOR</h2>
                <p class= "calc-info pt-3">Check approximate cost of booking a ride  </p>
              </div>

              <div class="text-white form-container">

                <form  id="costform" onsubmit="return false;">
                    <fieldset>

                        <div class="mb-3">

                            <label class="cartype-label" >Select Bus Type:</label>

                             <select id="cartype" name='cartype'  class=' mt-3'
                             onchange="calculateTotal()">
                             <option value="None">-</option>
                             <option value="Neoplan Tourliner">Neoplan Tourliner</option>
                             <option value="Volvo">Volvo</option>
                             <option value="School Bus">School Bus</option>
                             <option value="Small White Bus">Small White Bus</option>
                             <option value="Neoplan Cityliner VIP"> Cityliner VIP</option>
                            </select>
                          </div>

                        <div class="mb-3">

                            <label class="fee-label" >Additional Fee: </label>

                            <select id="selectedfee" name='selectedfee'  class=' mt-3'
                            onchange="calculateTotal()">
                            <option value="Selectfee">-</option>
                            <option value="Small">Small - 50P LN</option>
                            <option value="Medium">Medium - 150 PLN</option>
                            <option value="Large">Large - 300 PLN</option>
                            </select>
                        </div>


                         <div class="mb-3 form-group">
                            <label  class='kms-label' for="kms">Journey length: </label>
                            <input  type="number"   placeholder='kms' name="kms" id="kms" min="0"  maxlength="6" size='6'
                            onchange="calculateTotal()" />
                         </div>

                        <div class="form-check-reverse  mt-3 mb-3">
                            <label class="form-check-label" for='includebuffer' class="inlinelabel">Include buffer of 10%?</label>
                            <input class="form-check-input " type="checkbox" id="includebuffer" name='includebuffer'
                             onclick="calculateTotal()"/>
                        </div>



                        <div class="font-weight-bold display-4 " id="total">Total Price is: <span id="totalPrice"></span></div>

                    </fieldset>
                </form>
                </div>
            </div>
        </div>
    </section>
</body>

<script type="text/javascript" src="{% static "js/my_script.js" %}"></script>

{% endblock %}
