<!DOCTYPE html>
{% extends "base_app/base.html" %}
{% load static %}
{% block body_block %}

<title>Home</title>

    <style>
    .busbackground-image {
        background-image: url({%static 'images/b3.jpg'%});
    }
    </style>
<main>
  <section>
    <div class="busbackground-image">
      <div class="main-text">
        <h1 class = "company-title ">Anton Transpo</h1>
        <p class="company-slogan">Ride with Us</p>
        <!--<p class="bus"><i class="fa-solid fa-van-shuttle fa-5x"></i></p>-->
      </div>
    </div>
  </section>
  <section class="main-container text-white">
    <h2 class=' header mx-3'>WHO ARE WE?</h2>
  <div class=" left-side">
      <img class="photo img-fluid" src="{% static 'images/about-photo.jpg' %}" alt="Man driving a bus">
    </div>
    <div class=" right-side  ">
      <p>This is not a real company, but a fake name created for portolio reasons. Althought if it was, the story about how it came to be could be something like that:</p>
      <p>It all began in 1980 with one old bus and a dream. The owner, Anton S., built it all from the scratch, working tirereslly and saving for a next vehicle.</p>
      <p>The company grew, Anton hired more drivers, bought more buses and moved the center of their operations to Wonderville. </p>
      <p>Nowadays Anton Transpo is well known locally as their buses takes children to schools, workers to workplaces and travelers of all kinds to their chosen destinations.</p>
      <p>Anton Transpo organizes travels also to other UE countries, mostly to vacation or summer work destinations.</p>
    </div>
      
    


</section>
<section class="main-container ">

  

      
          <h2 class="header mb-5  mx-3">CHECK OUT OUR AWESOME FLEET</h2>
          
     

      

          <div class="carousel-col left-side">
              <div id="carouselIndicators" class="carousel slide carousel-fade" data-ride="carousel">

                <div class="carousel-inner">

                  <div class="carousel-item active">
                      <img class="d-block w-100" src="{% static 'images/cardbus1.jpg' %}" alt="Neoplan">
                      <div class="carousel-caption d-none d-md-block"><h1 class='display-3'>NEOPLAN TOURLINER</h1></div>
                  </div>

                  <div class="carousel-item">
                      <img class="d-block w-100" src="{% static 'images/cardbus2.jpg' %}" alt="Setra">
                      <div class="carousel-caption d-none d-md-block"><h1 class='display-3'>SETRA</h1></div>
                  </div>

                  <div class="carousel-item">
                      <img class="d-block w-100" src="{% static 'images/cardbus3.jpg' %}" alt="Volvo bus">
                      <div class="carousel-caption d-none d-md-block"><h1 class='display-3'>VOLVO</h1></div>
                  </div>

                  <div class="carousel-item">
                      <img class="d-block w-100" src="{% static 'images/cardbus4.jpg' %}" alt="School Buss">
                      <div class="carousel-caption d-none d-md-block"><h1 class='display-3'>SCHOOL BUS</h1></div>
                  </div>

                  <div class="carousel-item">
                      <img class="d-block w-100" src="{% static 'images/cardbus5.jpg' %}" alt="Small White Bus">
                      <div class="carousel-caption d-none d-md-block"><h1 class='display-3'>SMALL WHITE BUS</h></div>
                  </div>
                </div>

                    <a class="carousel-control-prev" href="#carouselIndicators" role="button" data-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="sr-only">Previous</span>
                    </a>

                    <a class="carousel-control-next" href="#carouselIndicators" role="button" data-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="sr-only">Next</span>
                    </a>
              </div>
          </div>

          <div class= " right-side">
              <p>We have many different buses to accomodate different needs. We have big luxurious buses and small ones (but still very comfortable) as well.</p>
              <p>They have WIFI and air conditioning, TV, minibar and minifridge. They will take you for a magical journey to your chosen destination. Lorem ipsum dolor sit amet consectetur.</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
              <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
          </div>

      
</section>
<section class="main-container">
  <h2 class= "header mx-3 "> RIDE COST CALCULATOR</h2>

    <div class="row">
      <div class="col-xl calc-left-side ">
          <img class= "img-fluid photo mx-3" src="{% static 'images/calc.jpg' %}" alt="man using a caculator">
      </div>

      <div class="col-xl right-side-calc ">
        
          
          <p class= "calc-info pt-3">Check approximate cost of booking a ride  </p>
        

        <div class="form-container">

          <form  id="costform" onsubmit="return false;">
              
            <div class="form-group">
              <label  class='kms-label' for="kms">Journey length: </label>
              <input  type="number"   placeholder='kms' name="kms" id="kms" min="0"  maxlength="6" size='6'
              onchange="calculateTotal()" />
           </div>
                  <div >

                      <label class="cartype-label" >Select Bus Type:</label>

                       <select id="cartype" name='cartype'
                       onchange="calculateTotal()">
                       <option value="None">-</option>
                       <option value="Neoplan Tourliner">Neoplan Tourliner</option>
                       <option value="Volvo">Volvo</option>
                       <option value="School Bus">School Bus</option>
                       <option value="Small White Bus">Small White Bus</option>
                       <option value="Neoplan Cityliner VIP"> Cityliner VIP</option>
                      </select>
                    </div>

                  <div >

                      <label class="fee-label" >Additional Fee: </label>

                      <select id="selectedfee" name='selectedfee'  
                      onchange="calculateTotal()">
                      <option value="Selectfee">-</option>
                      <option value="Small">Small - 50P LN</option>
                      <option value="Medium">Medium - 150 PLN</option>
                      <option value="Large">Large - 300 PLN</option>
                      </select>
                  </div>


                   

                  <div class="form-check-reverse ">
                      <label class="form-check-label" for='includebuffer' class="inlinelabel">Include buffer of 10%?</label>
                      <input class="form-check-input " type="checkbox" id="includebuffer" name='includebuffer'
                       onclick="calculateTotal()"/>
                  </div>



                  <div class="font-weight-bold display-4 " id="total">Total Price is: <span id="totalPrice"></span></div>

             
          </form>
          </div>
        </div>
  </div>
</section>
<section class="main-container top-container">
  <h2 class="text-center mx-3 header mb-5">CONTACT PAGE</h2>

    

      <div class="row contact-second-row">
        <div class="col-lg contact-info  ">
          <h2 class="contact-info-header"><span class="contact-info-header-span">You can find us here:</span></h2>
          <p class='pt-3'><i class="fas fa-map-marker-alt mx-2"></i>Adress:</p>
          <p >Not Real Street 12/34</p>
          <p >00-000 Warsaw</p>
          <p class='mb-5'>Poland</p>
          <h2 class="contact-info-header"><span class="contact-info-header-span">Contact us:</span></h2>
          <p class='pt-3'><a href="tel:123-456-7890" data-toggle="tooltip" data-placement="top" title="Please don't call this number"><i class="fas fa-phone p-2"></i>123-456-7890</a></p>
          <p  data-toggle="tooltip" data-placement="right" title="Not an actual email address"><a href="mailto:domi.papierska@gmail.com"><i class="far fa-envelope p-2"></i>lorem@ipsum.com</a></p>
          <p>You can also send us a message <a href="{% url 'base_app:contact' %}">HERE</a></p>
        </div>

        <div class="col-lg d-none d-md-block google-map map-responsive ">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d156388.35438654714!2d20.921113966387182!3d52.233065320451125!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x471ecc669a869f01%3A0x72f0be2a88ead3fc!2sWarszawa!5e0!3m2!1spl!2spl!4v1643382110211!5m2!1spl!2spl" width="1000" height="600" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>

        <div class="col d-md-none google-map ">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d156388.35438654714!2d20.921113966387182!3d52.233065320451125!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x471ecc669a869f01%3A0x72f0be2a88ead3fc!2sWarszawa!5e0!3m2!1spl!2spl!4v1643382110211!5m2!1spl!2spl" width="340" height="240" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>

      </div>
  </div>
</section>

</main>



{% endblock %}
