@mixin tablet-up {
    @media (min-width: 600px) {
      @content;
    }
  }
  
  @mixin phone {
    @media (max-width: 650px) {
      @content;
    }
  }
  
  @mixin breakpoint($num) {
    @media (min-width: $num) {
      @content;
    }
  }